.header-container {
  width: 100%;
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-logo-container {
  max-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  margin-left: 32px;
  margin-top: 0.5rem;
}

.logo {
  width: 200px;
}

.nav-container {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
}

.header-container .nav-item {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  font-size: 1rem;
  border: 1px solid White;
  justify-content: space-between;
  background-color: white;
}

.nav-item:hover {
  cursor: pointer;
  font-weight: 800;
  border-bottom: 1px solid black;
}

.button-container {
  max-height: 48px;
  margin-right: 32px;
}

.call-button {
  padding: 12px 24px;
  border-radius: 88px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(86.44deg, #0038ff 2.93%, #0038ff 2.94%, #20dffd 97.07%);
}

.call-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .header-container {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header-logo-container {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .logo {
    margin-left: 6rem;
  }
  .nav-container {
    margin-left: 0.3rem;
  }
}
