.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 70%;
}

.footer-top,
.footer-bottom {
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-top__right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__contact {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}


.footer__copyright {
  color: #080808;
  text-align: right;
  font-variant-numeric: stacked-fractions;
  font-feature-settings: "cv09" on, "cv04" on, "ss01" on, "cv03" on, "ss03" on,
    "cv06" on;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.09px;
}

.ain-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ain-footer-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .ain-footer-location-text {
  
} */
.ain-footer-location__map {
  display: flex;
  flex-direction: column;
  align-items: center;
width: 60%;
}
.iframe-map {
  width: 80%;
  border-radius: 10px;
}
.footer-contact-section {
  width: 200px;
  height: 200px;
}
.ain-footer-links {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 24px;
justify-content: space-between;
  
}
.ain-footer-links-logo {
width: 200px;
height: 50px;
}
.ain-footer-links-redirects {
  display: flex;
  width: calc(100% - 200px);
  align-items: center;
  justify-content: space-between
}
